body {
  background-color: rgb(211, 162, 176);
  margin: 0;
  overflow-x: hidden;
}

#heart-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.heart {
  position: absolute;
  width: 100px;
}

@media (max-width: 600px) {
  .heart {
    width: 70px;
  }
}